.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #FF8C69;
  color: white;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}
.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
